.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__input {
    background-color: #fff;
    color: #333;
    font-size: 18px;
    padding: 5px;
    width: 90%;
    border: none;

    &:focus {
      outline: none;
    }
  }

  &__delete {
    cursor: pointer;
    font-size: 1.5rem;
    color: #fff;

    &:hover {
      color: #ca0b00;
    }
  }
}
